.session-form{
    margin-top: 150px;
    /* border: 3px solid black; */
    
    
}

.socialQBlackLogo{
    width: 350px;
}

.session-form-container{
    display: flex;
    justify-content: center;
    
}


.formInput{
    /* border: 2px solid blue; */
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 50px;
    width: 80%;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.formInput:focus{
    background-color: #F7FEFF;
    border-color: #4682A9;
    box-shadow: 0 0 0 2px #91C8E4,0 1px 2px rgba(15,17,17,.15) inset
}

.inputHeader{
    margin-top: 20px;
    margin-left: 30px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


.loginButton{
    margin-top: 20px;
    margin-left: 30px;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 82%;
    color: white;
    font-size: 20px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}

.loginButton:hover{
    background-color: gray;
    cursor: pointer;
}

.signupLinkContainer{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}



.errors{
    margin-top: 20px;
    margin-left: 110px;
    color: maroon;
    font-weight: bold;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.passwordErrors{
    margin-top: 15px;
    margin-left: 67px;
    color: maroon;
    font-size: 12px;
    font-weight: bold;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}


