.calendar-update-select-div {
    max-height: 350px;
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    bottom: 40%;
    left: 40%;
    position: block;
    z-index: 200;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 6px 4px;
}

.fc .fc-scrollgrid-sync-inner {
    max-height: 60px;
    overflow-y: scroll;
}

.fc .fc-scrollgrid-sync-inner::-webkit-scrollbar {
    display: none;
}

.fc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}
.fc .fc-toolbar-title {
    font-size: 22px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}


.fc .fc-button-group {
    font-size: 12px !important;
}

.fc .fc-today-button {
    background-color: #4682A9 !important;
}

.fc .fc-button {
    background-color: #4682A9;
}

.fc-event-draggable {
    cursor: pointer;
}

.fc-day {
    cursor: default;
}

.fc-toolbar-title {
    cursor: default;
}

.event-select-div {
    height: fit-content !important;
    width: fit-content !important;
    background-color: #4682A9 !important;
    padding: 4px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 6px 6px -1px rgba(0,0,0,.3) !important;
}

.event-select-div:hover {
    background-color: #1a252f !important;
}

.calendar-update-select-hide {
    display: none !important;
}

.calendar-update-select-modal {
    display: flex !important;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 27%;
    right: -3.11%;
}

.bottom-update-div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.schedule-update-button {
    padding: 10px;
    border-radius: 9999px;
    border: 0.1px solid lightgray;
    background-color: #4682A9;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,.3) !important;
    color: #fff;
    font-weight: 700;
}

.schedule-update-button:hover {
    background-color: #1a252f !important;
    cursor: pointer;
}