.generateTweetContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* .generateTweetContainerTop {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
.generateTweetContainerBottom {
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.generateTweetContainerBottom .bottomButtonsLeft {
    margin-top: auto;
}
.generateTweetContainerBottom .bottomButtonsMiddle {
    margin-bottom: auto;
}
.generateTweetContainerBottom .bottomButtonsRight {
    margin-top: auto;
}
.generateTweetContainer .generateLeft {
    padding: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.generateTweetContainer .generateMiddle {
    margin-top: 4%;
    padding: 16px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.generateTweetContainer .generateRight {
    padding: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.generateTweetContainer .generateLeft .generateTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.generateTweetContainer .generateLeft .generateTags .ReactTags__selected {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.generateTweetContainer .generateLeft .tag-wrapper {
    background-color: #EFEFEF;
    border: 1px solid #000000;
    padding: 8px;
    font-size: 12px;
}
.generateTweetContainer .generateLeft .ReactTags__remove {
    background-color: #EFEFEF;
    border: none;
}
.generateTweetContainer .generateLeft .ReactTags__tags {
    width: 100%;
}
.generateTweetContainer .generateLeft .ReactTags__tagInputField {
    width: 100%;
}





.compose-tweet-input{
    border-radius: 20px;
    padding: 10px;
    font-family: DMSans;
    resize: none;
    
}

.tag-buttons{
    border-radius: 10px;
}

.tweet-replica-container{
    background-color: blue;
}

.twitter-icons{
    background-color: transparent;
}

.twitter-icons{
    display: flex;
    justify-content: space-evenly;
}

.generateButton{
    margin-top: 3%px;
    background-color: black;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
}

.generateButton:hover{
    background-color: lightslategray;
}

.generated-tweet-body{
    border: none;
    background-color: transparent;
    font-family: DMSans;    
    resize: none;
}

.tweet-preview-header{
    font-size: 20px;
    /* font-weight: bolder; */
}

.tweet-header-container{
    display: flex;
}

.tweet-preview-header-2{
    margin-top: 4px;
    margin-left: 10px;
}

.tweet-header-ellipsis{
    margin-top: 7px;
    
}

.generateMiddle{
    border: 1px solid black;
    border-radius: 5px;
}

.tag-wrapper{
    background-color: black;
    border: none;
    border-radius: 5px;
    height: 10px;
    font-size: 20px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.resetButton{
    background-color: black;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
}

.scheduleTweetButton{
    margin-top: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
}

.ReactTags__tags.react-tags-wrapper{
    color: aqua;
}

.ReactTags__selected {
    margin-bottom: 5px;
}

.ReactTags__tagInputField {
    color: blue;
    background-color: transparent;
    border-radius: 5px;
    height: 30px;
}

.ReactTags__remove{
    color: red;
}
.tweet-image {
    height: 100px;
    margin: 5px;
}
