b {
    color: #749BC2;
}

.tweet{
    display: flex;
    flex-direction: column;
}
.tweet-author{
    font-weight: bold;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-date{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-body{
    overflow-wrap: break-word;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-categories{
    display: flex;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-category-container{
    display: flex;
    justify-content: space-between;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
    /* flex-direction: row; */
    /* border: 1px solid black; */
}

.tweet-icons{
    display: flex;
}

.tweet-icon-row{
    color: #4682A9;
}


.show-modal {
    width: 10em;
    height: 5em;
    display: block;
    position: absolute;
    background-color: lightblue;
}

.hide-modal {
    display: none;
}

.tweet-image {
    height: 100px;
    margin: 5px;
}

.tweet-video {
    height: 200px;
    width: 200px;
}

.profile-image {
    height: 50px;
    width: 50px;
    margin: 5px;
}
