b {
    color: #749BC2;
}

.tweet{
    display: flex;
    flex-direction: column;
}
.tweet-author{
    font-weight: bold;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-date{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-body{
    overflow-wrap: break-word;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-categories{
    display: flex;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
}

.tweet-category-container{
    display: flex;
    justify-content: space-between;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
    /* flex-direction: row; */
    /* border: 1px solid black; */
}

.tweet-icons{
    display: flex;
}

.tweet-icon-row{
    color: #4682A9;
}


.show-modal {
    width: 40vw;
    height: 50vh;
    position: absolute;
    left:31%;
    background-color: #fff;
    z-index:3;
    border-radius: 16px;
    box-shadow: 0 6px 6px -1px rgba(0,0,0,.3) !important;
    padding: 20px;
}

.hide-modal {
    display: none;
}

.tweet-image {
    /* height: 100px; */
    /* margin: 5px; */
}

.tweet-video {
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}

.profile-image {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
}

.tweet-box-header-container{
    display: flex;
}

.update-header {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 26px;
}

.edit-button-div {
    display: flex;
    flex-direction: row;
    margin: 32px;
    justify-content: space-between;
}

.update-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-button {
    padding: 10px;
    border-radius: 9999px;
    border: 0.1px solid lightgray;
    background-color: #4682A9;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,.3) !important;
    color: #fff;
    font-weight: 700;

}

.edit-button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9999px;
    border: 0.1px solid lightgray;
    background-color: #4682A9;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,.3) !important;
    color: #fff;
    font-weight: 700;

}
.update-button:hover {
    background-color: #1a252f;
    cursor: pointer;
}

.edit-input-body {
    width: 85%;
    padding: 10px;
    border: none;
    border: 0.1px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.2);
}

.update-outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

