.tweet-feed-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    overflow-y: scroll;
    /* justify-content: center; */
}

.individual-tweet {
    width: 95%;
}