.main-page-container{
    background-image: url("./LandingPage.png");
}

.splash-page-background{
    width: 100vw;
    height: 100vh;
}

.splash-sign-in{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    margin-top: 4%;
    margin-left: 7%;
    font-family: DMSans;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.3);
    border: none;
    cursor: pointer;
}

.splash-sign-in:hover{
    background-color: lightslategrey;
}

.splash-header{
    font-size: 820%;
}
.splash-header:last-child{
    font-size: 820%;
    color: #f6f4eb;
}

.header-container{
    padding-top: 15%;
    margin-left: 7%;
}

.landing-description{
    font-size: 180%;
    padding-top: 1%;
    margin-left: 7%;
    max-width: 500px;
    
}