.navbarContainer{
    display: flex;
    flex-direction: row;
    background-color: #4682A9;
}

.navbarLogo{
    margin-top: 5px;
    margin-left: 5px;
    width: 230px;
}

.links-nav{
    /* border: 2px solid black; */
    width: 100%;
    /* margin-top: 30px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    
}

.fa-info{
    padding-top: 40px;
}

.fa-user{
    padding-top: 40px;
}

.fa-circle-plus{
    padding-top: 40px;
}

.fa-calendar-days{
    padding-top: 40px;
}

.navbarLogout{
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: #f6f4eb;
    cursor: pointer;
    font-weight: bold;
}

.navbarLogout:hover{
    background-color:lightslategray;
}

