.big-calendar-full-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-calendar-div {
    width: 68vw !important;
    margin: 50px;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.3);
    padding: 20px;
    background-color: #fff;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 6px 4px;
}


.big-calendar-div .fc .fc-toolbar-title {
    font-size: 36px !important;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding-left: 5px;
    padding-right: 5px;
}


.fc {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 10px;
}

.big-calendar-div .fc .fc-button-group {
    font-size: 20px !important;
}


.event-div {
    background-color: #4682A9 ;
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    font-size: 11px;
    margin: 2px;
    justify-content: center !important;
    height: fit-content;
    box-shadow: 0 8px 6px -1px rgba(0,0,0,.3) !important;
}

.event-div:hover {
    background-color: #1a252f;
}

.fc .fc-scrollgrid-sync-inner {
    max-height: 60px;
    overflow-y: scroll;
}

.fc .fc-scrollgrid-sync-inner::-webkit-scrollbar {
    display: none;
}

.fc .fc-today-button {
    background-color: #4682A9 !important;
}

.fc .fc-button {
    background-color: #4682A9;
}

.big-calendar-analytics-div {
    background-color: #1a252f;
    border-radius: 15px;
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.3);
    height: 40vh;
    width: 29vw;
    margin-right: 60px;
    margin-left: 30px;
    align-self: center;
}
.big-calendar-analytics-div .chart-container {
    width: 100%;
    height: 100%;
}
.big-calendar-analytics-div .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}



/* Change cursor to grab on hover over the .fc-event */
.fc-event:hover, .fc-event-draggable:hover {
    cursor: grab;
}

/*I can't figure out why, but as soon as the mouse moves, the :active => cursor: grabbing gets overridden by the :hover effect above*/
.fc-event:active, .fc-event-draggable:active, .fc-event-start:active, .fc-event-resizable:active, .fc-event-past:active, .fc-daygrid-event:active, 
.fc-daygrid-dot-event:active, .event-div:active, .fc-event-end:active {
    cursor: grabbing !important;
    position: relative;
    z-index: 2;
}

.fc-profile-button {
    margin: 10px;
    padding: 11px !important;
    border-radius: 9999px !important;
    border: 0.1px solid lightgray !important;
    background-color: #4682A9 !important;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,.3) !important;
    color: #fff;
    font-weight: 700;
}

.fc-profile-button:hover {
    background-color: #1a252f !important;
    cursor: pointer;
}


/* /*this is a decent alternative/*
.fc-event, .fc-event-draggable, .fc-event-start, .fc-event-resizable, .fc-event-past, .fc-daygrid-event, 
.fc-daygrid-dot-event, .event-div, .fc-event-end {
    cursor: move !important;
} */