.big-calendar-full-div {
    height: 100%;
    width: 100%;
}

.big-calendar-div {
    margin: 50px;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.3);
    padding: 20px;
    background-color: #fff;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 6px 4px;
}


.fc .fc-toolbar-title {
    font-size: 36px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}


.fc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.fc .fc-button-group {
    font-size: 20px !important;
}


.event-div {
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    font-size: 11px;
    margin: 2px;
    justify-content: center !important;
}

.event-div:hover {
    background-color: rgb(62, 62, 121);
}

.fc .fc-scrollgrid-sync-inner {
    max-height: 60px;
    overflow-y: scroll;
}

.fc .fc-scrollgrid-sync-inner::-webkit-scrollbar {
    display: none;
}
